*
{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body
{
    margin: 0;
    padding: 0;
    background: url('Img/Fondo.jpg');
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
h1{
    color: #fff;
}
.pie-pagina {
    margin-top: auto; /* Pushes the footer to the bottom */
}
.navbar {
    background-color: transparent;
    backdrop-filter: blur(500px);
    box-shadow: 5px 10px 12px #000;
}

.navbar .navbar-brand {
    display: flex;
    align-items: center;
}

.navbar .navbar-brand img {
    height: 90px;
    margin-right: 10px;
    border-radius: 50%;
}

.titulo 
{
    width: 200px;
    text-align: center;
    background-color: rgba(219, 219, 217);
}
.navbar .navbar-brand .titulo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #0d1b2a;
    border: 2px solid white;
    border-radius: 20px;

}

.navbar .nav-link {
    font-size: 1.1rem;
    color: #0d1b2a;
    font-weight: bold;
}

.navbar .nav-link:hover {
    color: gray;
}

.navbar .navbar-nav .nav-item .dropdown-menu {
    background-color: rgba(13, 27, 42, 0.8);
}

.navbar .navbar-nav .nav-item .dropdown-menu .dropdown-item {
    font-size: 1rem;
    color: gray;
}

.navbar .navbar-nav .nav-item .dropdown-menu .dropdown-item:hover {
    background-color: rgba(13, 27, 42, 0.9);
    color: gray;
}

.navbar .nav-item .nav-link img {
    border-radius: 50%;
}

.navbar .navbar-toggler {
    border-color: gray;
}

.navbar .navbar-toggler:hover {
    background-color: #a9b0ba;
}

.navbar .navbar-toggler-icon {
    color: #e0e1dd;
}

.user
{
    position: relative;
    right: 40px;
    top: 45px;
}

.sesion
{
    background-color: #0d1b2a;
    border-radius: 20px;
    width: 190px;
    border: 2px solid white;
}
.ini
{
    color: #ffffff;
    position: relative;
    top: 7px;
    text-align: center;
}
.user1
{
    height: 35px;
    position: relative;
    right: 6px;
}


.ubi
{
    border: 2px solid white;
    text-align: center;
    border-radius: 20px;
    margin: 10px ;
    background-color: #ffffff;
    width: 200px;
}

.citas
{
    text-align: center;
    border-radius: 20px;
    margin: 10px;
    background-color: #ffffff;    
    width: 200px;
}


.conocenos
{
    border: 2px solid white;
    text-align: center;
    border-radius: 20px;
    left: 5px;
    margin: 10px ;
    background-color: #ffffff;    
    width: 200px;
}



.contenedor-principal { /* Nombre del contenedor principal */
    position: relative;
    min-height: 100%; /* Para asegurar que el contenido empuje al footer */
    bottom: 100%;
}


.pie-pagina
{
    width: 100%;
    background-color: rgb(55, 84, 107);
}
.pie-pagina .grupo-1 
{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1  figure
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.pie-pagina .grupo-1 .BOX figure img
{
    width: 250px;
}
.pie-pagina .grupo-1 .BOX h2
{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
    text-align: center;

}
.pie-pagina .grupo-1 .BOX p
{
    color: #fdfdfd;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a
{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: black;
    text-align: center; 
    transition: all 300ms ease;  
}
.pie-pagina .grupo-1 .BOX .red-social a:hover
{
color: aqua
}
.pie-pagina .grupo-2{
    background-color:rgb(55, 84, 107);
    padding: 15px 10px;
    text-align: center;
    color: rgb(255, 255, 255);
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width: 800px) 
{
    .pie-pagina .grupo-1{
        width: 100%
        grid-template-columns repeat
    }
}
a{
    border-radius: 50%;
    text-align: center;
    align-items: center;
}
img
{
    border-radius: 50%;
}

.tito
{
    position: relative;
    bottom:3px;
    right: 3px;
}

.wha
{
    position: relative;
    bottom: 5px;
    right: 5px;
}



.banner
{
    display: flex;
}
.banner-info
{
    background-color: transparent;
    backdrop-filter: blur(80px);
    border-radius: 50px;
    text-align: center;
    height: 250px;
    position: relative;
    top: 150px;
}
.banner-img
{
    width: 600px;
}

.info
{
    color: black;

}